scrapy
pytest
pytest-cov
python-dotenv
datasets
redis
simhash
pyarrow
pandas
indic-transliteration
langdetect
watchdog
trafilatura
googlesearch-python
streamlit
requests
sentence-transformers
numpy
fastapi
uvicorn
